

---

interface Props{
  subtitle:string;
  title:string;
  description:string[];
}

const {subtitle, title, description} = Astro.props
---



<section class="w-1/2 my-10 flex flex-col gap-3">
  <span class="font-geist-light text-purple-500">{subtitle}</span>
  <h2 class="font-geist-black text-5xl">{title}</h2>
  {description.map((desc) => (
    <span class="font-geist-light">{desc}</span>
  ))}
</section>