---
import PresentationSection from "../shared/PresentationSection.astro";


---




<article class="flex justify-center items-center flex-col mb-20">
  <PresentationSection
    subtitle="EDUCATION"
    title="EDUCATION AND CERTIFICATIONS"
    description={["I studied at DuocUC, a professional institute in Santiago, Chile, where I completed a 4-year degree in Computer Engineering. During this program, I learned about various fields, but I focused on web and mobile development, which is what I’m most passionate about. Today, I continue to study on my own and learn every day. I am currently waiting to begin my web developer diploma at the Pontifical Catholic University of Chile."]}
  />

  <div class="w-1/2 flex flex-col gap-4">
    <h3 class="font-geist-bold text-2xl">CERTIFICATIONS</h3>
    <p class="font-geist-light">SOFTWARE PROGRAMMING, IT PROJECT MANAGEMENT, INTERMEDIATE-ADVANCED ENGLISH, SOFTWARE QUALITY, BUSINESS INTELLIGENCE, SOFTWARE ARCHITECTURE, COMPUTER REQUIREMENTS ANALYSIS AND PLANNING, DATA MODELING ANALYSIS AND DEVELOPMENT.</p>
  </div>
</article>